body
{
    background-image: url(https://s1.ax1x.com/2023/07/04/pCs75cV.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}