body
{
    background-image: url(https://img-blog.csdnimg.cn/3991cba67260445c997711d9df76e24c.png#pic_center);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.stackedit__html
{
    background-color: whitesmoke;
    opacity: 1;
    padding-left:8% !important;
    padding-right:8% !important;
    padding-top: 70px;
    margin-top: 100px;
    padding-bottom: 120px;
    margin-bottom: 150px;
}

img
{
    width: 500px;
}