.stackedit__html
{
    background-color: whitesmoke;
    opacity: 1;
    padding-left:8% !important;
    padding-right:8% !important;
    padding-top: 70px;
    margin-top: 100px;
    padding-bottom: 120px;
    margin-bottom: 150px;
}