.stackedit__html
{
    background-color: whitesmoke;
    opacity: 0.9;
    padding-left:8%;
    padding-right:8%;
    padding-top: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 150px;
}