h1{
    text-align: center;
}

form.searchbox input[type=text] {
    height: 40px;
    padding: 5px;
    font-size: 12px;
    float: left;
    width: 60%;
    border: 1px solid #1e1e1e;
    border-radius: 10px 10px 10px 10px;
    margin-left: 20%;
    font-size: 15px;
}

form.searchbox::after {
    content: "";
    clear: both;
    display: table;
}


.resultlist {
    top: -20px;
    height: 0;
    width: 59.5%;
    margin-left: 20%;
    transition: height 0.4s;
    background: rgba(245, 245, 245, 0.5);
    color: #000000;
}


.resultlist#active {
    border-radius: 10px;
    border: 1px solid #1e1e1e;
    height: 40%;
}


.resultlist * {
    margin: 2px;
}


.resulttitle {
    color: #000000;
    font-size: 1em;
}




#info {
    opacity: 1;
    transition: opacity 0.4s;
}



.fc {
    text-align: center;
}


.title {
    max-width: 45%;
}


.tr {
    text-align: right
}


mark {
    background-color: #0b7dda;
    border-radius: 4px;
    color: #fff;
    margin: 0;
}


.showbox {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 2px !important
}

a
{
    text-decoration: none;
    color:rgb(23, 152, 202);
}